<div ng-controller="LoginController as vm" layout="column" layout-padding>
  <br/>
  <div class="container">
      <md-content class="md-no-momentum">
        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <!-- <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon> -->
          <!-- <input ng-model="vm.user.email" type="email" placeholder="Email" ng-required="true"> -->
          <input ng-model="vm.user.email" type="email" placeholder="Email">
        </md-input-container>
        <md-input-container class="md-block">
          <!-- Use floating placeholder instead of label -->
          <!-- <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon> -->
          <!-- <input ng-model="vm.user.password" type="password" placeholder="Password" ng-required="true"> -->
          <input ng-model="vm.user.password" type="password" placeholder="Password">
        </md-input-container>
    	<md-input-container layout-align="center center">
    		<div layout="row" layout-sm="column" layout-margin>
    			<md-button class="md-raised" flex="50" flex-sm="100" ng-click="vm.login(vm.user.email, vm.user.password)">Login</md-button>
    			<md-button ui-sref="auth.register" class="md-raised md-primary" flex="50" flex-sm="100">Register</md-button>
    		</div>
    	</md-input-container>
      </md-content>

  </div>
</div>
