<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div ng-controller="AppCtrl as ctrl" ng-cloak>
  <md-content>
    <br>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>
          <span>EShop</span>
        </h2>
        <span flex></span>
        
        <!-- buton profil -->
        <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdOpenMenu, $event)">
        <i class="material-icons md-dark">face</i>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="ctrl.profil($event)">
            <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
            Profil
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="ctrl.LogOut($event)">
            <md-icon md-svg-icon="call:voicemail"></md-icon>
            Log out
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <!-- fin buton profil -->

      </div>
    </md-toolbar>
    <br>
</div>
